@charset "utf-8";

html,
body {
  height: 100%;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;
  line-height: 24px;
}

ul,
ol {
  list-style: none;
}

img,
fieldset {
  border: 0;
}

label,
button {
  cursor: pointer;
}

button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
  cursor: pointer;
}

hr {
  display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; 
}

.blind {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}